/*Common Styling*/
body {
    z-index: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    position: relative;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    background-color: whitesmoke;
    display: block;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

section,
.container,
.container-fluid {
    position: relative;
    overflow-wrap: break-word;
}

footer,
nav,
section {
    display: block;
}

img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

h1,
.font-format-3,
.font-format-2,
.font-format-1,
span,
p,
a {
    line-height: 1;
    overflow-wrap: break-word;
    font-weight: 400;
}

a {
    transition: color 0.6s;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.fullscreen {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fullscreen .overlay {
    min-height: 100vh;
}

.overlay {
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.top-margin {
    margin-top: 2rem !important;
}

.top-margin2 {
    margin-top: 1rem !important;
}

.bottom-margin-0 {
    margin-bottom: 0 !important;
}

.bottom-margin {
    margin-bottom: 1rem !important;
}

.bottom-margin-2 {
    margin-bottom: 3rem !important;
}

.button {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    font-weight: 600;
    border-width: 1px;
    font-style: normal;
    margin: 0.6rem 0.6rem;
    white-space: normal;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.container-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-column {
    flex: 0 0 100%;
    max-width: 100%;
}

.container-column,
.container-column2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.align-center {
    text-align: center;
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.font-format-1 {
    font-size: 1.2rem;
    line-height: 1.5;
}

.font-format-3 {
    font-size: 3rem;
    line-height: 1.1;
}

.section-title {
    font-style: normal;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
}

strong {
    font-weight: bold;
}

/*Nav Bar Styling*/

.top {
    z-index: 1000;
    width: 100%;
    position: relative;
    min-height: 60px;
}

.top nav.navbar,
.navbar-dropdown.navbar-fixed-top,
.top .navbar-dropdown {
    position: fixed;
}

.top .navbar-dropdown {
    padding: 0.5rem 1rem;
}

.top .navbar {
    min-height: 77px;
    transition: all .3s;
    border-bottom: 1px solid black;
    background: whitesmoke;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-dropdown {
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease;
    z-index: 1030;
    background: whitesmoke;
}

.navbar .container,
.navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.top .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all .3s;

    z-index: 1;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

img.logo {
    width: 50px;
    height: 50px;
}

.menu .navbar-brand,
.menu .navbar-brand .navbar-caption-wrap,
.menu .navbar-brand span {
    display: flex;
}

.navbar-dropdown .navbar-brand span {
    vertical-align: -4px;
}

.top .navbar-brand .navbar-caption {
    line-height: inherit !important;
    padding-right: 4rem;
}

.navbar-dropdown .navbar-caption,
.navbar-dropdown .navbar-caption:hover {
    color: inherit;
    text-decoration: none;
}

.navbar-dropdown .navbar-caption {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    line-height: 3.125rem !important;
}

.top div.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all .2s;
    align-self: center;
}

.navbar-toggler {
    position: absolute;
    z-index: 9999;
    right: 0;
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.top div.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}

.top div.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all .15s;
}

.top div.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all .15s;
}

.top div.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all .2s;
}

.top div.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: black;
    text-align: center;
}

.top .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.nav-center {
    text-align: center;
}

.nav-item {
    list-style: none;
}

/*Home Main Content Styling*/

img.home-logo {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 50%;
    animation: spin 5s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.intro-home, .intro-404 {
    background-image: url("../images/pexels-nicola-barts-7943257-2000x1333.webp");
    background-attachment: fixed;
}

.intro-home .section-title {
    text-align: center;
    color: black;
}

.intro-home .home-text {
    color: black;
    text-align: center;
}

.home-text {
    font-style: normal;
}

.button-start-easy,
button-start:active {
    background-color: #0b8f1d !important;
    border-color: black !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.button-start-medium,
button-start:active {
    background-color: #af7c0c !important;
    border-color: black !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.button-start-hard,
button-start:active {
    background-color: #aa2222 !important;
    border-color: black !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

/*Game styling*/

.game-home {
    background-image: url("../images/pexels-nicola-barts-7943490-2000x1333.webp");
    background-attachment: fixed;
}

.container {
    margin: auto;
}

.game-container {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transform: scale(0.8);
    margin: 0;
}

.grid {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    perspective: 600px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    pointer-events: none;
}

.back {
    background-image: url('../images/question.webp');
    background-size: cover;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

.flipCard {
    transform: rotateY(180deg);
}

.matched {
    border: 5px solid green;
    border-radius: 10px;
    pointer-events: none;
}

.notmatched {
    border: 5px solid red;
    border-radius: 10px;
    pointer-events: none;
}

/*End Game Styling*/

.game-end-home {
    background-attachment: fixed;
}

#game-end {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-start-reset,
button-start:active {
    background-color: #22aa35 !important;
    border-color: black !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.button-end,
button-end:active {
    background-color: #aa2222 !important;
    border-color: black !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

/*footer styling*/

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: whitesmoke;
    border-top: 1px solid black;
}

.footer .footer-links {
    width: 100%;
    justify-content: center;
}

.footer .social-row {
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.footer .media-container-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .media-container-row .foot-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.footer .media-container-row .foot-menu li {
    padding: 0 1rem 1rem 1rem;
}

.footer .media-container-row .foot-menu li p {
    margin: 0;
}

.footer .media-container-row .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .media-container-row .social-list .social-icons {
    font-size: 1.5rem;
    color: black;
}

.footer .media-container-row .social-list .social-items {
    margin: 0 .5rem;
}

.footer .media-container-row .social-list a {
    margin: 0;
    opacity: .5;
    transition: .2s linear;
}

.footer .media-container-row .social-list a:hover {
    opacity: 1;
}

.footer .media-container-row .copyright {

    width: 100%;
}

.footer .media-container-row .copyright p {
    width: 100%;
}

/*Responsive Querires Site wide*/

@media screen and (max-width: 480px) {
    img.home-logo {
        width: 250px;
        height: 250px;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    }

    .front,
    .back {
        border-width: 1px;
    }

    .button {
        flex-wrap: wrap;
    }

    .button a {
        flex: 1 0 50%;
        margin: 5px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .font-format-1 {
        font-size: 0.96rem;
        font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }

    .container-row {
        flex-direction: column;
    }

    .container-column2 {
        width: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 8rem);
        grid-gap: 0.5rem;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    }

    .front,
    .back {
        border-width: 1px;
    }
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 720px;
    }

}

@media screen and (max-width: 767px) {
    .menu .navbar-collapse {
        max-height: 80vh;
    }

}

@media screen and (max-width: 991px) {

    .navbar-expand>.container,
    .navbar-expand>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .top .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;

        padding-right: 2rem;
    }

    .top .navbar .navbar-toggler {
        flex-basis: auto;
    }

    .menu .navbar-collapse {
        max-height: 93.5vh;
    }

}

@media screen and (min-width: 992px) {

    .container-row>[class*=container-column] {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 960px;
    }

    .container-row {
        margin-left: -16px;
        margin-right: -16px;
    }

    .container-column2 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media screen and (max-width: 1150px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 8rem);
        grid-gap: 0.5rem;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    }

    .front,
    .back {
        border-width: 1px;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}